<%- include('head', {title: title}); %>
<div class="container col-centralize">
    <div class="about col-centralize">
        <h1>Mars Rover</h1>
        <p>Controle astromóveis marcianos em sua missão para encontrar água</p>
    </div>
    <a href="/inicio"><button class="continuar big-button">Continuar</button></a>
</div>
<img src="./assets/images/mars.png" alt="marte" id="marte">
<%- include('tail'); %>